.root {
  @apply sticky top-0 bg-background border-b border-border z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer rounded-md p-1;
}

.link:hover {
  @apply text-muted-foreground;
}

.link:focus {
  @apply outline-none text-accent-foreground ring-2 ring-ring ring-opacity-50;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
}
